<template>
    <div class="Products_container">
        <form id="product_form"  @submit.prevent="SubmitForm"  ref="product_form" > 
            <h1>Add Product </h1>&nbsp;
            <div class="Buttons">
                <button type="submit" id="SaveButton"    text="" >Save</button>
                <button  id="CancelButton"  text="" @click=" ()=>$router.push('/')" >Cancel</button>  
            </div>
            <hr/>
            <table ID="FormTable">
                <text-control ControlID="sku" ControlLabelText="SKU" ref="SKU"/>
                <text-control ControlID="name" ControlLabelText="Name" ref="Name"/>
                <number-control ControlID="price" ControlLabelText="Price" ref="Price"/>
                <select-product ControlLabelText="Type Switcher" @GetProduct="Getp($event)" ref="Type"/>
            </table>
            <component :is="ActiveComponent" ref="Dynamic"/>
          </form>
          <span ref="RequiredValidationSpan" class="Validation">
                {{message}}
          </span>
    </div>
</template>

<script>
import TextControl from '../components/TextControl.vue'
import NumberControl from '../components/NumberControl.vue'
import SelectProduct from '../components/SelectProduct.vue'
import Book from '../components/Book.vue'
import Furniture from '../components/Furniture.vue'
import DVD from '../components/DVD.vue'
import axios from 'axios'
export default {
  name: 'AddProduct',
  components:{TextControl, NumberControl, SelectProduct,Book,DVD,Furniture},
  data()
  {
   return {
     ActiveComponent:'A',
     AddProdFormData:[],
     message:''
    }
  },
  methods:{
    Getp(product)
    {
        this.ActiveComponent=product;
    },
    NotEmptyValidation(e)
    { 
        var dynamicComponent=this.ActiveComponent==''?false: this.$refs.Dynamic.NotEmptyValidation();
        if (this.$refs.SKU.NotEmptyValidation()& 
            this.$refs.Name.NotEmptyValidation()&
            this.$refs.Price.NotEmptyValidation()&
            this.$refs.Type.NotEmptyValidation()&
            dynamicComponent){
                this.$refs.RequiredValidationSpan.innerHTML="";
                return true;
        } else {
            this.$refs.RequiredValidationSpan.innerHTML="please,submit requied data(*) ";
            e.preventDefault();
            return false;
        }  
    },
    AddProduct() 
    {
        var prod={
                     Sku:this.$refs.SKU.$refs.input.value,
                     Name:this.$refs.Name.$refs.input.value,
                     Price:this.$refs.Price.$refs.input.value,
                     Type:this.$refs.Type.$refs.select.value,
                 }
        var ProdDetails=this.$refs.Dynamic.GetData();
        for (var key in ProdDetails) {
            prod[key] = ProdDetails[key];
        }
        const myJSON =JSON.stringify(prod);
        console.log(JSON.stringify(prod));
        axios.post('https://vuejs.ahmedsabry.info/phpVue/PHP_API.php', {InsProd:prod})
             .then((response) =>{
                  this.message=response.data;
                  if(this.message=='')
                      this.$router.push('/');
              } 
              ); 
    },
    SubmitForm(e)
    {
        if (this.NotEmptyValidation(e)){
            this.AddProduct();
        }
    }

  }
}
</script>

<style>
h1
{
  width:181px;
   display:inline-block;
}

 div.Products_container
 {
 width:90%;
 min-height:85vh;
 margin-left: 5%;
 margin-right:5%;
 }

   .Buttons
  {
	width:250px; 
	margin-top:24.4px;
	margin-bottom:24.4px;
  float:right;
  padding: 5px;
  }

  button{
  width:110px;
  margin-right:10px;
  float:right; 
  }

 
</style>
