<template>
    <div class="Products_container">
        <h1>Product List</h1>
        <div class="Buttons">  
        <form id="Allproducts_form" @submit.prevent="DeleteProducts" ref='form' > 
            <button type="submit" id="MassDeletebutton" name="Delete"   >MASS DELETE</button> 
            <button type="submit" id="AddproductButton" name="Add"   @click="()=>$router.push('/addproduct')">ADD</button> &nbsp;&nbsp;
        </form>
    </div>
    <hr/>
    <Product v-for="p in Products" :key="p.Sku" :Product="p"/>   
    <br>
    </div>
</template>

<script>
import Product from '../components/Product.vue'
import axios from 'axios'
export default {
    name:"AllProducts",
    components:{Product},
    data() 
    {
        return {
            Products:[],
            DelProd:[],
            message:''
        }
    },
    mounted()
    {
        axios.post('https://vuejs.ahmedsabry.info/phpVue/PHP_API.php',{action:'fetchall'})
             .then((res)=>{
                               this.Products=res.data;
                          });
                          
    },
    methods:{
        DeleteProducts() 
        {
            axios.post('https://vuejs.ahmedsabry.info/phpVue/PHP_API.php', { DelProds:this.DelProd,action:'Delete'})
                 .then(response => 
                 {
                    this.message=response.data;
                    this.$refs.form.submit();
                 }
                 ); 
        }
    }

}
</script>

<style>

</style>