<template>
  <div id="Book">
      <table border="0">
          <number-control ControlID="weight" ControlLabelText="Weight(KG)"  ref="Weight"/>  
              <tr>
                  <td colspan="2" id="Description">Please provide weight for book</td>
              </tr>
      </table>
  </div>
</template>

<script>
import NumberControl from './NumberControl.vue'
export default {
    name:'Book',
    components: { NumberControl },
    data()
    {
        return {
            Data:[]
        }
    },
    methods:{
        NotEmptyValidation()
        {
            if (this.$refs.Weight.NotEmptyValidation()) {
                return true;
            }
            return false;
        },
        GetData()
        {
            this.Data['Weight']=this.$refs.Weight.$refs.input.value;
            return this.Data;
        }
    }
}
</script>

<style>

</style>