<template>
  <div id="DVD">
      <table border="0">
          <number-control ControlID="size" ControlLabelText="Size(MB)" ref="Size"/>  
                <tr>
                    <td colspan="2" id="Description">Please provide Size for DVD</td>
                </tr>
      </table>
  </div>
</template>

<script>
import NumberControl from './NumberControl.vue'
export default {
    name:'DVD',
    components: { NumberControl },
    data()
    {
        return {
            Data:[]
        }
    }
    ,methods:{

        NotEmptyValidation()
        {
            if(this.$refs.Size.NotEmptyValidation())
            {
                return true;
            }
            return false;
        },
        GetData()
        {
            this.Data['Size']=this.$refs.Size.$refs.input.value;
            return this.Data;
        }
    }
}
</script>

<style>

</style>