<template>
  <div id="Furniture">
      <table border="0">
          <number-control ControlID="height" ControlLabelText="Height (CM)" ref="Height"/> 
          <number-control ControlID="width" ControlLabelText="Width (CM)" ref="Width"/> 
          <number-control ControlID="length" ControlLabelText="Length (CM)" ref="Length"/> 
          <tr>
              <td colspan="2" id="Description">Please provide furniture dimensions</td>
          </tr>
      </table>
  </div>
</template>

<script>
import NumberControl from './NumberControl.vue'
export default {
   
    name:'Furniture',
    components: { NumberControl },
    data()
    {
        return {
            Data:[]
        }
    },
    methods:{
        NotEmptyValidation()
        {
            if(this.$refs.Height.NotEmptyValidation()&this.$refs.Width.NotEmptyValidation()&this.$refs.Length.NotEmptyValidation())
            {
                return true;
            }
            return false;
        },
        GetData()
        {
            this.Data['Height']=this.$refs.Height.$refs.input.value;
            this.Data['Width']=this.$refs.Width.$refs.input.value;
            this.Data['Length']=this.$refs.Length.$refs.input.value;
            return this.Data;
        }
    }
}
</script>

<style>

</style>