<template>
    <tr>
        <td>
            <label   :for="ControlID">{{ControlLabelText}}</label>
        </td>
        <td class="inputcell">
            <input type="number" :id="ControlID" min="0.1" step="0.1" @change="ValidateValue" ref="input" require/>
            <span class="Validation" ref="span"> </span>
        </td>
    </tr>
</template>

<script>
export default {
    props:['ControlLabelText','ControlID'],
    data() 
    {
        return {
        }
    },
    methods:
    {
        ValidateValue (event) { 
            var validationspan=event.target.nextElementSibling;
            if(event.target.value<=0){
                validationspan.innerHTML="Please, provide positive number";
                event.target.setAttribute("class","invalid");
                event.preventDefault();
            } else {
                validationspan.innerHTML="";
                event.target.removeAttribute("class");
            }
        },
        NotEmptyValidation()
        {
            if(this.$refs.input.value=="")
            {
                this.$refs.span.innerHTML='*';
                return false;
            }
            this.$refs.span.innerHTML='';
            return true;
        }
    } 
}
</script>

<style>
.invalid {
   border-color:red;
   display:block;
  }
</style>