<template>
  <div class='product_container' >
          <input type="checkbox" class="delete-checkbox" name ="Delete-checkbox[]" :value="Product.Sku+','+Product.Type" v-model="this.$parent.DelProd"/>
         <p  >
             {{Product.Sku}}
         </p>

          <p  >
             {{Product.Name}}
         </p>
          <p  >
             {{Product.Price}}
         </p>
          <p  >
             {{Product.Details}}
         </p>
    </div>
</template>

<script>
export default {
    name:"Product",
    props:{Product:{type:Object}

    },

data(){
    return {


    }
}
}
</script>

<style>
div.product_container
 {
 border-style:solid;
 border-color:gray;
 border-width: 1px;
 width:252px;   
 height:200px;
 display:inline-grid;
 margin:10px;
 padding: 10px;
 }

.delete-checkbox
 {
 position :relative;
 left:5px;
 top:5px;
 }

  p
 {
	text-align: center;
 }
</style>