<template>
    <tr>
        <td>
            <label id ="typeSwitcherLabel" for="productType">{{ControlLabelText}}</label>
        </td>
        <td>
            <select id ="productType"  @change="onChange($event)" ref="select" require>
                <option value="">--------ChooseType---------</option>
                <option value="Book" >Book</option>
                <option value="DVD">DVD</option>
                <option value="Furniture">Furniture</option>
            </select>
            <span class="Validation" ref="span"> </span>
        </td>
        <td>
            <label id ="productTypeLabel" for="productType" class="Validation"></label>
        </td>
    </tr>
</template>

<script>
export default {
    props:['ControlLabelText'],
    methods: {
        onChange: function onChange( event) {
            this.$emit('GetProduct',event.target.value ) ;
        },
        NotEmptyValidation()
        {
            if(this.$refs.select.value=="")
            {
                this.$refs.span.innerHTML='*';
                return false;
            }
            this.$refs.span.innerHTML='';
           return true;
        }
    }
}
  

</script>

<style>
 select{
	width:186px;
	Height:22px;
  text-align: center;
  }
</style>