<template>
    <tr>
        <td>
            <label   :for="ControlID">{{ControlLabelText}}</label>
        </td>
        <td class="inputcell">
            <input type="text" :id="ControlID" require  ref="input"/>
            <span class="Validation" ref="span"> </span>
        </td>
    </tr>
</template>

<script>
export default {
    props:['ControlLabelText','ControlID'],
    data() 
    {
        return {
        }
    },
    methods:{
        NotEmptyValidation()
        {
            if(this.$refs.input.value==""){
                this.$refs.span.innerHTML='*';
                return false;
            }
            this.$refs.span.innerHTML='';
            return true;
        }
    }
}
</script>

<style>
.inputcell
{
	background: #ffffff;
	padding-bottom: 15px;
  width:250px;

}

  input[type=text], input[type=NUMBER]
  {
     width:180px;
	 Height:20px;
   text-align: center;
  }

   .Validation
  {
    color:red;
    
  }

   td 
 {
	background: #ffffff;
	padding-bottom: 15px;
  width:120px;
 
  }
</style>