<template>

    <router-view/>
        <hr/>
        <p id="footer_text"> Scandiweb Test assignment </p>
</template>

<style>

#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#footer_text
 {
	text-align: center;
 }
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
